
    <!-- sidebar -->
    <div class="home-box">
        <div class="sc-nav">
            <a href="#top">
                <div class="sc-nav-item">●
                    <div class="mask">
                        <div class="caption">TOP</div>
                    </div>
                </div>
            </a>
            <a href="#concept-menu">
                <div class="sc-nav-item">●
                    <div class="mask">
                        <div class="caption">CONCEPT</div>
                    </div>
                </div>
            </a>
            <a href="#news">
                <div class="sc-nav-item">●
                    <div class="mask">
                        <div class="caption">NEWS</div>
                    </div>
                </div>
            </a>
            <a href="#shop">
                <div class="sc-nav-item">●
                    <div class="mask">
                        <div class="caption">SHOP</div>
                    </div>
                </div>
            </a>
        </div>
    </div>