<div class="about-box clearfix">
	<div data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-delay="500">
		<div class="a-lef">
			<div class="about-logo">
				<img src="/assets/growth-logo/2/growth-logo2.png">
			</div>
			素材そのものを大切に、<br>
			本当に美味しいお菓子を食べてもらいたい。<br>
			そんな思いで、味覚の宝庫ともいわれる北海道、<br>
			十勝の大地に育まれた自然の恵みを<br>
			丸ごと取り入れたお菓子をお作りしています。<br><br>

			お誕生日や七五三、成人式や結婚式、<br>
			皆様のたくさんの幸せを、<br>
			一緒にお祝いして、成長していけたら…<br>
			そんな願いを込めて、<br>
			growthと名付けました。<br>
		</div>
	</div>
	<div data-aos="fade" data-aos-easing="linear" data-aos-duration="1000">
			<div class="photo-show">
	    		<img src="/assets/about.jpg">
				<img src="/assets/hokkaido2.jpeg">
				<img src="/assets/village-a.jpg">
			</div>
	</div>
</div>
