<div class="about-box">
	<div class="col-xs-6 a-lef">
		<section>
			<p style="font-size: 30px">about<br></p>
			<p style="font-size: 50px">GROWTH<br></p>
			<p style="font-size: 20px">
				素材そのものを大切に、<br>
				本当に美味しいお菓子を食べてもらいたい。<br>
				そんな思いで、味覚の宝庫ともいわれる北海道、<br>
				十勝の大地に育まれた自然の恵みを<br>
				丸ごと取り入れたお菓子をお作りしています。<br><br>

				お誕生日や七五三、成人式や結婚式、<br>
				皆様のたくさんの幸せを、<br>
				一緒にお祝いして、成長していけたら…<br>
				そんな願いを込めて、<br>
				growthと名付けました。<br>
			</p>
		</section>
	</div>
	<div class="col-xs-6 a-image"></div>
</div>

<div class="about-box-mobile">
	<div class="col-xs-12 a-image mobile-shop">
		<div class="col-lg-6 a-lef col-xs-10 col-xs-offset-1">
			<section>
				<p style="font-size: 30px">about<br></p>
				<p style="font-size: 50px">logo<br></p>
					素材そのものを大切に、<br>
					本当に美味しいお菓子を食べてもらいたい。<br>
					そんな思いで、<br>味覚の宝庫ともいわれる北海道、<br>
					十勝の大地に育まれた自然の恵みを<br>
					丸ごと取り入れたお菓子をお作りしています。<br><br>

					お誕生日や七五三、成人式や結婚式、<br>
					皆様のたくさんの幸せを、<br>
					一緒にお祝いして、成長していけたら…<br>
					そんな願いを込めて、<br>
					growthと名付けました。<br>
				</p>
			</section>
		</div>
	</div>
</div>
